.forgot-header {
  margin-bottom: 7%;
}

.forgot-hint {
  margin-bottom: 15%;
}

.forgot-button {
  background-color: #B57EFB;
  color: white;
  width: 32%;
  height: 2.8rem;
  border-radius: 10px;
  border: 0px;
  margin-top: 5%;
}