.h-info {
  text-align: center;
  font-size: 24px;
}

.segment-line {
  filter: drop-shadow(1px 1px 0 #00ff0d) drop-shadow(-1px -1px 0 #00ff0d) drop-shadow(1px -1px 0 #00ff0d) drop-shadow(-1px 1px 0 #00ff0d);
}

.popup-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: rgba(0,0,0,0.5);
}

.popup {
  position: fixed;
  z-index: 2000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 280px;
  padding-top: 20px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 25px;
  background-color: white;
  border-radius: 20px;
}

.h-irrigation-photo {
  margin-top: 20px;
}

.h-irrigation-dmg {
  margin-top: 10px;
}

#dmg-radio {
  padding-right: 15px;
  padding-left: 4px;
}

#dmg-radio3 {
  padding-left: 4px;
}

.h-ad-info {
  margin-top: 8px;
  margin-bottom: 11px;
}

.ad-info {
  border: 6px solid #E7E7E7;
  border-radius: 15px;
  width: 234px;
  resize: none;
}

.div-submit-report {
  margin-top: 13.5px;
  display: flex;
  justify-content: center;
}

.submit-report {
  background-color: #64A2FF;
  color: white;
  width: 190px;
  height: 40px;
  border-radius: 20px;
  border: 0px;
  margin-bottom: 12.8px;
}

.div-report-other {
  display: flex;
  justify-content: center;
}

.report-other {
  background-color: #a9a9a9;
  color: white;
  width: 190px;
  height: 40px;
  border-radius: 20px;
  border: 0px;
  margin-bottom: 25.6px;
}

@media only screen and (min-width: 640px) and (min-height: 750px) {
  .popup {
    height: 700px;
    width: 480px;
    padding-top: 27px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .h-info {
    font-size: 33px;
  }
  
  .h-irrigation-photo {
    margin-top: 40px;
    font-size: 25px;
  }
  
  .r-img {
    font-size: 22px;
  }

  .h-irrigation-dmg {
    margin-top: 25px;
    font-size: 25px;
  }
  
  #dmg-radio {
    padding-right: 15px;
    padding-left: 4px;
    font-size: 22px;
  }

  #dmg-radio3 {
    font-size: 22px;
  }
  
  .h-ad-info {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
  }
  
  .ad-info {
    border: 6px solid #E7E7E7;
    border-radius: 15px;
    width: 334px;
  }
  
  .div-submit-report {
    display: flex;
    justify-content: center;
  }
  
  .submit-report {
    width: 290px;
    height: 60px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 22px;
  }
  
  .div-report-other {
    display: flex;
    justify-content: center;
  }
  
  .report-other {
    width: 290px;
    height: 60px;
    border-radius: 25px;
    margin-bottom: 0px;
    font-size: 22px;
  }
}