.photo-profile {
  height: 37%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pp-img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.edit-data {
  display: flex;
  justify-content: right;
  margin-top: 3%;
  margin-bottom: 2%;
  width: 98%;
}

.pencil-button {
  background-color: white;
  padding: 0.3rem;
  border-radius: 50%;
  border: 3px solid #B1B1B1;
}

.logout {
  width: 98%;
  display: flex;
  justify-content: right;
}

.logout-button{
  background-color: white;
  color: #FF5D5D;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 7px;
  padding-top: 7px;
  border: 3px solid #FF5D5D;
}

.profile-data {
  display: flex;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  border: 2.5px solid #949494;
}

.profile-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}